.bookmark-text{
    color: rgb(163, 161, 161);
}
.buttons button{
    border: none;
    outline: none;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .7s ease-in-out, color .7s ease-in-out;
}
.buttons button:first-child{
    background-color: hsl(231, 69%, 60%);
    color: white;
    font-weight: 500;
}
.buttons button:last-child {
    color: rgb(13, 13, 13);
    font-weight: 500;
    background-color: rgb(242, 242, 242);
}
.buttons button:hover{
    background-color: transparent;
    border: 1px solid hsl(231, 69%, 60%);
    color:hsl(231, 69%, 60%);
}
.sliderOne{
    border-top: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-top: 15px;
}
.first-text{
    border-bottom: 3px solid red;
}
.cards{
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    gap: 30px;
}
.cards img{
    width: 80px;
}
.cards button{
    height: 35px;
    width: 220px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: hsl(231, 69%, 60%);
    color: white;
    font-weight: 500;
}
.cards span:last-child{
    font-size: .8rem;
    color: rgb(163, 161, 161);
}
.cards span:first-child {
    color: hsl(229, 31%, 21%);
    font-weight: 600;
}
.chrome-text{
    display: flex;
    flex-direction: column;
}
.cardOne, .cardTwo, .cardThree{
    width: 230px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(235, 235, 235);
    margin-inline: auto;
    border-radius: 5px;
    padding: 20px 0;
}
.first-drop, .second-drop, .third-drop, .fourth-drop{
    border-bottom: 1px solid rgb(228, 228, 228);
    cursor: pointer;
}
.first-drop,
.second-drop,
.third-drop,
.fourth-drop{
    color: hsl(229, 31%, 21%);
    font-weight: 500;
}
.first-drop:hover,
.second-drop:hover,
.third-drop:hover,
.fourth-drop:hover{
    color: hsl(0, 94%, 66%);
}
.hidden p{
   display: none; 
}
.img-rotate img{
    rotate: 180deg;
    color: hsl(0, 94%, 66%);
}
.email-error{
    margin-top: -9px;
    display: none;
}
.icon-link{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.4rem;
    background:hsl(231, 69%, 60%);
    top: 0;
    color: white;
    width: 370px;
}