.links{
    font-family: Rubik;
}
.btn{
    font-size: .8rem;
    width: 100px;
    font-weight: 700;
    height: 2.5rem;
}
.text{
    width: 30rem;
}
.first-border{
    border-bottom: 2.5px solid red;
    width: 180px;
    text-align: center;
}
.text{
    width: 28rem;
}
.slider{
    border-bottom: 1px solid rgb(199, 199, 199);
    width: 500px;
    height: 43px;
}
.shape-section p::before{
    content: " ";
    position: absolute;
    display: block;
    width: 40rem;
    height: 25rem;
    border-radius: 45% 0 0 45%;
    z-index: -1;
    top: 13rem;
    right: 0rem;
    background: hsl(231, 69%, 60%);
}
.shape-section p::after {
    content: " ";
    position: absolute;
    display: block;
    width: 50rem;
    height: 25rem;
    border-radius: 0 45% 45% 0;
    z-index: -1;
    top: 75rem;
    left: 0rem;
    background: hsl(231, 69%, 60%);
}
.card-con{
    height: 400px;
    margin-inline: auto;
}
.border-left{
    border-left: none;
    border-right: none;
    outline: none;
}
.color{
    color: white;
}
.more-info{
    width: 100px;
    justify-content: center;
    height: 40px;
    align-items: center;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    background: hsl(231, 69%, 60%);
}
.footer{
    background: hsl(231, 69%, 60%);
    margin-top: 9rem;
}
.bookmark-sec{
    margin-top: 6rem;
    margin-left: 2rem;
}
.chrome{
    background-color: hsl(231, 69%, 60%);
}
.text-sec{
    margin-top: 5rem;
}
p{
    color: hsl(229, 8%, 60%);
}
.second{
    background-color: transparent;
    border: none;
    color: black;
    box-shadow: 0 1px 5px rgb(177, 177, 177);
}
.btn-primary{
    width: 130px;
}
.card{
    border: none;
    box-shadow: 0 0 5px rgb(210, 210, 210);
}
a{
    color: black;
}